body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 230px auto;
    align-items: flex-start;
}

#options {
    background-color: #F0F0F0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    height: 100%;
    overflow-y: scroll;
}

#options img {
    width: 100px;
}

#game {
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-start;
    justify-content: center;
    column-gap: 20px;
}

p {
    grid-column: 1 / span 2;
}

.piece-holder {
    /* border: solid 1px #000; */
    display: flex;
}

@media screen and (max-width: 800px) {
    main {
        display: grid;
        height: 100vh;
        grid-template-columns: auto;
        align-items: flex-start;
    }

    #puzzle_orig, #options {
        display: none !important;
    }
}
canvas {
    transform-origin: center;
    transition: all 0.1s ease-in-out;
    border-width: 0px;
    border-style: solid;
    border-color: white;
    /* border: solid 0px #000; */
    /* margin: 0px; */
    /* animation: fisheye 0.1s; */
}
canvas:hover {
    transform-origin: center;
    transform: scale(2);
    border-width: 2px;
    /* border: solid 1px #000; */
    /* margin: -1px; */
    /* animation: fisheye 0.1s; */
}

@keyframes fisheye {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    50% {
        transform: translate(0px, 0px) scale(1.5);
    }
    100% {
        transform: translate(0px, 0px) scale(1);
    }
}